.pencarian{
    -fx-background-radius: 15px;
    -fx-border-color: #f1eeee;
    -fx-background-color:transparent;
    -fx-border-radius: 15px;
    -fx-prompt-text-fill: #C0C0C0;
    -fx-text-fill: #ffffff;
}
.font-menu {
    -fx-background-color: transparent;
    -fx-border-width: 0px0px2px0px;
    -fx-text-fill: #010101;
    -fx-font-weight: bold;
}
.shadow-effect {
    -fx-effect: dropshadow(gaussian, rgba(186, 183, 183, 0.7), 10, 0.5, 0, 0);
}
.rounded-image {
    -fx-background-radius: 50; /* Atur radius sesuai kebutuhan */
    -fx-background-color: transparent;
}
.custom-text {
    -fx-text-fill: #000000; /* Mengatur warna teks menjadi merah */
}
.black-border {
    border: 2px solid black;
}
